<%= form_with model: @user do |form| %>
<ul class="">
    <li class="">
        <%= form.text_field :name %>
    </li>    
    <li class="">
        <%= form.text_field :password %>
    </li>    
    <li class="">
        <%= form.submit %>
    </li>    
</ul>
<% end %>